<nav class="navbar navbar-expand-lg navbar-dark bg-dark box-shadow">
    <a class="navbar-brand" href="{{ url_for('view') }}">BlockChain</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('graphics') }}">
              <span class="glyphicon glyphicon-search" aria-hidden="true">Graphics</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mr-right">
        <li class="nav-item">
            <a href="{{ url_for('iot') }}" class="nav-link"><strong>IOT</strong></a>
        </li>
      </ul>
    </div>
  </nav>
