{% extends './layouts/base.html' %}
{% block content %}
    {% if values|length >= 1 %}
        {% set tamanho_medio = totals['total_size']/values|length %}
        {% set numero_blocos_possiveis = totals['free_size_in_KB']*1000/tamanho_medio %}
        {% set tamanho_blockChain = totals['total_size']*0.001 %}
        {% set espaco_livre_em_MB = totals['free_size_in_KB']*0.001 %}
        <div class="row mt-3 d-flex justify-content-around">
          <div class="col-sm-3">
            <div class="card text-center h-100">
              <div class="card-body align-items-center d-flex justify-content-center">
                <h5 class="card-text">Espaço Livre: {{ "%.0f"|format(totals['free_size_in_KB']*0.001) }} MB</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card text-center h-100">
              <div class="card-body align-items-center d-flex justify-content-center">
                <h5 class="card-text">Tempo de Execução: {{ "%.0f"|format(totals['execution_time']) }} s</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card text-center h-100">
              <div class="card-body align-items-center d-flex justify-content-center">
                <h5 class="card-text">Numero Blocos Possiveis: {{ "%.0f"|format(numero_blocos_possiveis) }} </h5>
              </div>
            </div>
          </div>
      </div>
        <div class="row mt-3 d-flex justify-content-around">
          <div class="col-sm-3">
            <div class="card text-center h-100">
              <div class="card-body align-items-center d-flex justify-content-center">
                <h5 class="card-text">Tamanho BlockChain: {{ "%.3f"|format(tamanho_blockChain) }} KB</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card text-center h-100">
              <div class="card-body align-items-center d-flex justify-content-center">
                <h5 class="card-text">Tamanho Médio Bloco: {{ "%.0f"|format(tamanho_medio) }} B</h5>
              </div>
            </div>
          </div>
          {% if need_mining %}
          <div class="col-sm-3">
          {%else%}
          <div class="col-sm-6">
          {%endif%}
            <div class="card text-center h-100">
              <div class="card-body align-items-center d-flex justify-content-center">
                <h5 class="card-text">Total Nonce: {{ totals['nonce'] }} </h5>
              </div>
            </div>
          </div>
          {% if need_mining %}
              <div class="col-sm-3">
                <div class="card text-center h-100">
                <h5 class="card-title mb-0 mt-2">Vamos Minar !!!</h5>
                  <div class="card-body align-items-center d-flex justify-content-center pt-0">
                      <form action="{{ url_for('maining') }}" method="post">
                          <input type="text" name="folder" value="list" hidden>
                          <button type="submit" name="button" class="btn btn-primary">Mining</button>
                      </form>
                  </div>
                </div>
              </div>
          {%endif%}
        </div>
        <div class="card ml-3 mx-auto mt-2">
            <div class="container">
                <div class="row d-flex justify-content-start">
                {% for value in values %}
                    <div class="card text-center d-flex mr-1 ml-2 mt-1 mb-1 {% if value['nonce'] == 0 %} border-primary {% else %}border-secondary{% endif %}" style="width: 12rem;">
                        <div class="card-body">
                            <div class="card-header">
                                <h5 class="card-text">Bloco {{ value['block'] }}</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Quem: {{ value['name'] }}</li>
                                <li class="list-group-item">Quanto: {{ value['amount']}}</li>
                                <li class="list-group-item">Para quem: {{ value['to_whom'] }}</li>
                                <li class="list-group-item">Tamanho: {{ value['size'] }} B</li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {%else%}
        <h3>Não Existem Items</h3>
    {%endif%}
{% endblock %}
